/* contains stylesheet for test.php file */
body {
	font-family: helvetica, sans-serif;
}
/* hide all questions first */
.question {
	display: none;
}

/* css for instructions */
.instructions {
	width: 80%;
	margin: 0 auto;
	color: #666;
	line-height: 1.5;
	box-shadow: 1px 1px 3px #555;
}
.instructions-list {
	padding: 10px;
}

.important {
	color: #ff5555;
}
.begin-button {
	text-align: center;
	background: #3bbceb;
	color: white;
	margin:0;
	padding-top: 10px;
	padding-bottom: 10px;
	letter-spacing: 1.2px;
	
}
.begin-button:hover {
	cursor: pointer;
}


/*css for the timer */
.timer {

	width: 20%;
/*	margin: 0 auto;*/
	margin-top: 10px;
	/*background: #7887ee;
	color: white;*/
	color: #555;
	margin-left: 30%;
	text-align: center;
	padding: 10px 20px;
	/*border-radius: 5px;*/
	font-size: 20px;
	box-shadow: 1px 1px 2px #888;
}

.question-wrapper {
	width: 60%;
	margin-top: 20px;
	margin-left: 5%;
	font-size: 20px;
	padding: 20px;
	line-height: 1.5;

	

}
.statement {
	margin-bottom: 20px;
}
.option {
	transition: background 0.4s;
	display: block;
	margin-bottom: 10px;
	padding: 8px;
	border-radius: 5px 20px 5px;
	color: #555;
}
.option:hover {
	cursor: pointer;
	background: #eee;

}

.circle-letter {
	display: inline-block;
	border: 2px solid #888;
	width: 18px;
	height: 18px;
	padding: 2px;
	padding-bottom: 3px;
	text-align: center;
	border-radius: 50%;
	font-size: 16px;
	margin-right: 20px;

}

/* sidebar */
.sidebar {

	display: inline-block;
	float: right;
	width: 25%;
	height: 500px;
	margin-right: 30px;
	margin-top: -500px;
/*	box-shadow: 1px 1px 2px #555;*/
	text-align:center;	
	background: #f5f5f5;

}

.question-num-sidebar {
	width: 8%;
	display: inline-block;
	background: #fff;
	margin: 10px;
	padding: 10px 5px;
	border-radius: 2px;
	color: #888;
	box-shadow: 1px 1px 2px #bbb;
	transition: box-shadow 0.5s;
	transition: background 0.5s;
	
}
.question-num-sidebar:hover {
	cursor: pointer;
	box-shadow: 1px 1px 2px #999;
	background: #caebf2;
}

.color-key {
	text-align: left;
}
.color-item {
	width: 40%;
	margin-left: 5%;
	margin-top: 30px;
	display: inline-block;
	font-size: 14px;
	color: #888;
}
.color-box {
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right: 10px;
}
#not-viewed {
	background: #fff;
}
#review {
	background: #800080;
}
#attempted {
	background: #bada55;
}
#not-attempted {
	background: #ff5555;
}

.instructions-button {

	transition: background-color 0.7s;
	border: 1px solid #3bbceb;
	color: #3bbceb;
	margin-top: 50px;
	padding: 10px;
}
.instructions-button:hover {
	background-color: #3bbceb;
	color: white;
	cursor: pointer;
}

/* footer buttons */
.footer-buttons {
	position: fixed;
	bottom: 30px;
	width: 100%;

}
.quiz-button{
	transition: background-color 0.5s;
	margin-left: 100px;
	display: inline-block;
	color: #3bbceb;
	padding: 10px 30px;
	/*color: #3bbceb;*/
	/*border-radius: 10px;*/
	border: 1px solid #3bbc99;
	box-shadow: 1px 1px 3px #555;
}

.quiz-button:hover {
	background: #3bbceb;
	color: white;
	cursor: pointer;
}
.next-button {
	color: white;
	background-color: #3bbceb;
}
/* hide the submit input field */
.hidden {
	display: none;
}

.submit-button {
	display: inline-block;
	padding: 10px 20px;
	background: #85d37e;
	color: white;
	width: 70px;
	border-radius: 10px;
	text-align: center;
	float: right;
	margin-right: 150px;
	box-shadow: 2px 2px 5px #555;
}
.submit-button:hover {
	cursor: pointer;
}